/* Selector universal*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
--mainColor: #CECBC6;
--mainTextColor: #072A09;
--secondaryColor: #FFBE58;
--purpleColor: #3B0C5C;
}

body {
    font-family: 'coolvetica';
}

a{
    text-decoration: none;
    color: var(--mainTextColor);
}

.logo {
    font-size: 2 rem;
}

/*COMPONENTES*/
/*Boton*/

.boton{
    background-color: var(--purpleColor);
    color: var(--secondaryColor);
    padding: 5px 10px;
    border-radius: 8px;
    text-align: center;
}

/*LAYOUT*/

body {

    display: grid;
    grid-template-areas: 
    'nav   header      header      header'
    'nav   banner      banner      banner'
    'nav   servicios   servicios   casas' 
    'nav   opiniones   opiniones   casas' 
    'nav   footer      footer      footer';
    grid-template-columns: 100px 1fr 0.5fr 1fr;
}
/* Header */

header {
    grid-area: header; 
    background: linear-gradient(180deg, var(--mainTextColor), transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 65px;
    position: fixed;
    width: 100%;
}

header a {
    color: var(--mainColor);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 20px;
    margin-right: 10px;
}
/* Navbar*/

.navbar {
    grid-area: nav;
    background-color: var(--mainColor);
    color: var(--mainTextColor);
}

.navbar ul {
    margin-top: 80px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.navbar a {
    color: var(--mainTextColor);
}

.navbar ul li {
    margin-top: 20px;
}

/* Home */
/* Banner*/

#banner {
    grid-area: banner;
}

#banner {
    text-align: center;
    background-color: var(--mainTextColor);
    color: var(--mainColor);
    background-image: url("./Recursos/pexels-tomfisk-2606532.jpg");
    background-position: center;
    background-size: cover;
    size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}

#banner p {
    max-width: 1000px;
    text-align: center;
}

#banner h1 {
    font-weight: 200;
}
#banner h2 {
    font-weight: 100;
}

/* Servicios */

#servicios {
    grid-area: servicios;
}

#servicios .servicio {
    background-color: var(--mainTextColor);
    color: var(--mainColor);
}

.servicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 15px 15px 30px #9b9b9b,
    -15px -15px 30px #ffffff;
    min-width: 300px;
    margin: 20px;
}

.servicio h3 {
    font-weight: 100;
}

.servicio p {
    font-size: 14px;
    margin: 20px 0 20px 0;
}

#servicios a {
    display: block;
    text-align: center;
    width: 100%;
    margin: 20px 0 20px 0;
}

#servicios .titulo {
    text-align: center;
    margin: 50px 0;
}

.servicescontainers {
    display: flex;
    padding: 0 20px;
    justify-content: space-around;
    flex-wrap:wrap ;
}



.servicescontainers .servicio img {
    width: 40px;
}

/*opiniones */

#opiniones {
    grid-area: opiniones;
}

/*mostrar mas -- mostrar menos*/

.hide {
    display: none;
}

.show {
    display: block;
}

article button {
    display: flex;
    padding: 1px 4px;
    text-align: center;
    align-items: center;

}

article button:hover {
    box-shadow: none;
    background-color: var(--mainTextColor);
    color: var(--mainColor);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.05s;
}

article .readMore_btn {
    border-radius: 8px;
    border: none;
    color: var(--mainTextColor);
    background-color: var(--mainColor);
    font-family: coolvetica;
    display: flex;
    margin-top: 10px;
}


/* ---------------------------------------- */

#opiniones article {
    color: var(--mainTextColor);

}

.opinion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 15px 15px 30px #9b9b9b,
    -15px -15px 30px #ffffff;
    min-width: 300px;
    margin: 20px;
    flex-wrap: wrap;
}

#opiniones .titulo {
    text-align: center;
    margin: 40px 0;
}

#opiniones article p{
    font-style: italic;
}

.opinionesContainer {
    display: flex;
    padding: 0 20px;
    justify-content: space-around;
    flex-wrap:wrap ;
}

/*Side bar*/

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--mainColor);
    padding: 20px;
    border-radius: 8px;
    width: auto;
    box-shadow: 15px 15px 30px #9b9b9b,
    -15px -15px 30px #ffffff;
    font-family: coolvetica;
    grid-area: aside;
}


.sidebar h2 {
    color: var(--mainTextColor);
    margin-bottom: 15px;
    border-bottom: 2px solid var(--mainColor);
    padding: 5px;
}

.sidebar section {

    margin-bottom: 20px;
}

/*casa*/

#casas {
    grid-area: casas;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.casasContainer {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(4, 150px);
    max-width: 900px;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
    padding: 10px;
}

.casa {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
}

.casa1 {
    background-image: url(./Recursos/ALE_4121_jpg.jpg);
    background-size: cover;
    grid-row: 1 / 3
}

.casa1-2 {
    background-image: url(./Recursos/ALE_7633.jpg);
    background-size: cover;
    grid-column: 2 / 4;
}

.casa1-3{
    background-image: url(./Recursos/ALE_7663.jpg);
    background-size: cover;
    grid-row: 2 / -3;
    grid-column: 2 / 4;
}

.casa2 {
    background-image: url(./Recursos/346aed10-3cf9-4a05-ae45-e48966e6c7c8.avif);
    background-size: cover;
    grid-row: 3 / -2;
    grid-column: 2 / 4;
}

.casa2-2 {
    background-image: url(./Recursos/3ef12863-6702-4123-8f06-ac5625c06f74.avif);
    background-size: cover; 
    grid-row: -3 / -1;   
}

.casa2-3 {
    background-image: url(./Recursos/c58ac559-cc45-473e-b92b-9f6f10406158.avif);
    background-size: cover;
    grid-column: -3 / -1;
}

/*Footer*/


footer {
    grid-area: footer;
    background-color: var(--mainTextColor);
    color: var(--mainColor);
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

footer a {
    color: var(--mainColor);
}

@media screen and (max-width: 1024px) {
    
    body {
        grid-template-areas: 
        'nav   header            header'
        'nav   banner            banner'
        'nav   servicios         servicios' 
        'nav   opiniones         opiniones' 
        'nav   casas             casas'
        'nav   footer            footer';
        grid-template-columns: 100px 1fr 15%;
        grid-template-rows: 100px auto 1fr 1fr 1.5fr 200px;
    }
}

@media screen and (max-width: 768px) {


    body {
        grid-template-areas: 
        'nav     header'
        'nav     banner'
        'nav     servicios' 
        'aside   opiniones' 
        'aside   casas'
        'footer  footer';
        grid-template-columns: 200px auto;
        grid-template-rows: 100px auto 1fr 1fr 1.5fr 200px;
    }

    .opinionesContainer {
        flex-direction: column;
    }

    .opinionesContainer .opinion {
        width: 100%;
        margin-top: 20px;
    }
    
    .servicescontainers{
        flex-direction: column;

    }
}