/* Selector universal*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
--mainColor: #CECBC6;
--mainTextColor: #072A09;
--secondaryColor: #FFBE58;
--purpleColor: #3B0C5C;
}

body {
    font-family: 'coolvetica';
}

a{
    text-decoration: none;
    color: var(--mainTextColor);
}

.logo {
    font-size: 2 rem;
}

/*COMPONENTES*/
/*Boton*/

.boton{
    background-color: var(--purpleColor);
    color: var(--secondaryColor);
    padding: 5px 10px;
    border-radius: 8px;
    text-align: center;
}

/*LAYOUT*/
/* Header */

header {
    background-color: var(--mainTextColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    position: fixed;
    width: 100%;
}

header a {
    color: var(--mainColor);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 20px;
    margin-right: 10px;
}
/* Navbar*/

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0px 30px;
}

/*Footer*/

footer {
    background-color: var(--mainTextColor);
    color: var(--mainColor);
}

footer a {
    color: var(--mainColor);
}
/* Home */
/* Banner*/

#banner {
    text-align: center;
    background-color: var(--mainColor);
    color: var(--mainColor);
    background-image: url("./Recursos/pexels-tomfisk-2606532.jpg");
    background-position: center;
    background-size: 300vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}

#banner p {
    max-width: 1000px;
    text-align: center;
}

#banner h1 {
    font-weight: 200;
}
#banner h2 {
    font-weight: 100;
}

/* Servicios */

#servicios .servicio {
    background-color: var(--mainTextColor);
    color: var(--mainColor);
}

.servicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 15px 15px 30px #9b9b9b,
    -15px -15px 30px #ffffff;
    min-width: 300px;
    margin: 20px;
}

.servicio h3 {
    font-weight: 100;
}

.servicio p {
    font-size: 14px;
    margin: 20px 0 20px 0;
}

#servicios a {
    display: block;
    text-align: center;
    width: 100%;
    margin: 20px 0 20px 0;
}

#servicios .titulo {
    text-align: center;
    margin: 50px 0;
}

.servicescontainers {
    display: flex;
    padding: 0 20px;
    justify-content: space-around;
    flex-wrap:wrap ;
}



.servicescontainers .servicio img {
    width: 40px;
}

/*opiniones */

#opiniones article {
    color: var(--mainTextColor);
    width: 40%;
    box-shadow: 15px 15px 30px #9b9b9b,
    -15px -15px 30px #ffffff;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

#opiniones .titulo {
    text-align: center;
    margin: 40px 0;
}

#opiniones article p{
    font-style: italic;
}

.opinionescontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    ;

}